{
    "workbench.colorTheme": "Monokai Dimmed",
    "editor.fontFamily": "'JetBrains Mono', Menlo, Monaco, 'Courier New', monospace",
    "editor.fontSize": 13,
    "editor.lineHeight": 1.2,
    "workbench.iconTheme": "vscode-icons",
    "editor.minimap.enabled": false,
    "git.autofetch": true,
    "ruby.useLanguageServer": true,
    "ruby.useBundler": true,
    "jupyter.askForKernelRestart": false,
    "jupyter.jupyterCommandLineArguments": [
    
    ],
    "terminal.external.osxExec": "iterm.app",
    "python.linting.pylintEnabled": true,
    "python.analysis.diagnosticMode": "workspace",
    "python.analysis.diagnosticSeverityOverrides": {
    "reportUndefinedVariable": "none"
    },
    "python.analysis.indexing": true,
    "editor.copyWithSyntaxHighlighting": false,
    "[python]": {
        "editor.formatOnType": true
    },
    "editor.accessibilitySupport": "off",
    "[xml]": {
        "editor.defaultFormatter": "redhat.vscode-xml"
    },
    "workbench.editor.untitled.hint": "hidden",
    "[json]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    }
}